<div class="panel panel-default">
  <!-- Table -->
  <table class="table table-dashboard table-bordered table-hover">
    <thead>
      <tr>
        <th colspan="6" style="text-align: center;">主数据库——实时数据</th>
        <th colspan="6" style="text-align: center;">
          从数据库——实时数据&nbsp;
          <button type="button" class="btn toogleRefresh">实时刷新</button>
        </th>
      </tr>
      <tr>
        <th>No</th>
        <th>数据时间</th>
        <th>用户数量</th>
        <th>商品数量</th>
        <th>订单数量</th>
        <th>行数据间隔</th>

        <th>No</th>
        <th>行数据间隔</th>
        <th>用户数量</th>
        <th>商品数量</th>
        <th>订单数量</th>
        <th>数据时间</th>
      </tr>
    </thead>
    <tbody id="tbody-data">
    </tbody>
  </table>
</div>

<!-- Declare a JsRender template, in a script block: -->
<script id="tmplEmptyTr" type="text/x-jsrender">
  <tr data-id="{{:timeInt}}">
    <th class="{{:primaryActive}}" data-id="{{:primarytimeInt}}">{{:primarydataIndex}}</th>
    <td>{{:primaryStartTimeStr}}</td>
    <td>
      {{:primaryUserCount}}
      <span class="CounterInc">{{:primaryUserCountIncr}}</span>
    </td>
    <td>
      {{:primaryProductCount}}
      <span class="CounterInc">{{:primaryProductCountIncr}}</span>
    </td>
    <td>
      {{:primaryOrderCount}}
      <span class="CounterInc">{{:primaryOrderCountIncr}}</span>
    </td>
    <td>
      {{:primaryStartTimefDelay}}
      <span class="CounterInc {{:replicaDbStatus}}">{{:primaryTotalInc}}</span>
    </td>

    <th class="{{:replicaActive}}" data-id="{{:replicatimeInt}}">{{:replicadataIndex}}</th>
    <td class="{{:replicaDbStatus}}">
      {{:replicaStartTimefDelay}}
      <span class="CounterInc {{:replicaDbStatus}}">{{:replicaTotalInc}}</span>
    </td>
    <td>
      {{:replicaUserCount}}
      <span class="CounterInc">{{:replicaUserCountIncr}}</span>
    </td>
    <td>
      {{:replicaProductCount}}
      <span class="CounterInc">{{:replicaProductCountIncr}}</span>
    </td>
    <td>
      {{:replicaOrderCount}}
      <span class="CounterInc">{{:replicaOrderCountIncr}}</span>
    </td>
    <td>{{:replicaStartTimeStr}}</td>
  </tr>
</script>

<%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
