@import "bootstrap-sprockets";
@import "bootstrap";

.table-dashboard {
  th.active {
    font-size: larger;
    color: limegreen;
  }

  .CounterInc {
    font-size: medium;
    color: limegreen;
  }
  .SyncDelayed {
    background: yellow!important;
  }
  .SyncStoped {
    color: orangered!important;
  }
}
